# MkDocs Documentation Requirements

# Core MkDocs
mkdocs>=1.5.3
mkdocs-material>=9.5.0

# Plugins
mkdocs-minify-plugin>=0.7.0
mkdocs-git-revision-date-localized-plugin>=1.2.0
mkdocs-pdf-export-plugin>=0.5.10

# Extensions
pymdown-extensions>=10.5
markdown>=3.5.0

# Optional but recommended
mkdocs-awesome-pages-plugin>=2.9.0
mkdocs-redirects>=1.2.0

